html *
{
   font-family: Segoe UI !important;
}

body {
  background: #e2e1e0;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

a:hover {
  color: #E0E2E2;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

.box {
  background: #fff;
  border-radius: 2px;
  padding: 10px;
  margin: 10px 0;
}

.messages {
  background: #fff;
  border-radius: 2px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  width: 450px;
}

.message {
  background: #E0E2E2;
  border-radius: 2px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  width: 600px;
}

.button {
  background: #fff;
  border-radius: 3px;
  height: 20px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  width: 50px;
  display: table-cell;
  bottom: 1px;
}

.delete-button {
  margin: 0 auto;
  float: right;
  background: transparent;
  border: none;
}

.delete-button::before {
  margin: 0 auto;
  display: block;
  width: 14px;
  height: 16px;
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 448 512"><path fill="currentColor" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"></path></svg>');
  content: ''
}

.success {
  background: #A1FF74;
}

.error {
  background: #FF8C74;
}

.style1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.style1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.style2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.style3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.style4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.style5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}